<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width" name="viewport"/>
  {%- if settings.favicon != blank -%}
    <link href="{{ settings.favicon | img_url: '32x32' }}" rel="shortcut icon"/>
  {%- endif -%}

  {{ 'theme.css' | asset_url | stylesheet_tag }}


  <!-- подключение скриптов JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>




  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {{ content_for_header }}
</head>
<body>
{{ content_for_layout }}

<!-- подключение js -->
<script src="/js/app.js"></script>


<script src="{{ 'theme.js' | asset_url }}"></script>
</body>
</html>
